.sy-head {
  border-bottom: 0.01rem solid #ECECEC;
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .sy-head .sy-head-a {
    width: 2.16rem;
    height: 0.7rem;
    margin-left: 0.18rem;
    clear: both; }
    .sy-head .sy-head-a .a-img {
      width: 100%;
      height: 100%;
      float: left; }
  .sy-head .sy-wenzi {
    width: 20%;
    text-align: center;
    font-size: 0.33rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .sy-head .sy-head-p {
    width: 1.24rem;
    height: 0.7rem;
    margin-right: 0.14rem;
    display: flex;
    justify-content: space-between; }
    .sy-head .sy-head-p .p-a {
      width: 0.45rem;
      height: 0.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      justify-content: space-around; }
      .sy-head .sy-head-p .p-a .span1 {
        width: 0.4rem;
        height: 0.42rem;
        font-size: 0.26rem; }
      .sy-head .sy-head-p .p-a .span2 {
        width: 0.45rem;
        height: 0.3rem;
        overflow: hidden;
        font-size: 0.2rem; }
    .sy-head .sy-head-p .p-a1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 0.45rem;
      height: 0.7rem; }
      .sy-head .sy-head-p .p-a1 .span1 {
        width: 0.4rem;
        height: 0.42rem;
        font-size: 0.26rem; }
      .sy-head .sy-head-p .p-a1 .span2 {
        width: 0.45rem;
        height: 0.3rem;
        overflow: hidden;
        font-size: 0.2rem; }

.content {
  padding-bottom: 0.35rem;
  width: 100%; }
  .content .content-img {
    width: 100%;
    height: 2.5rem; }
  .content .content-top, .content .content-xia {
    margin: 0 auto;
    width: 7.18rem;
    height: 6.14rem; }
    .content .content-top .top-wen, .content .content-xia .top-wen {
      margin: .36rem auto;
      margin-bottom: .46rem;
      text-align: center;
      line-height: .5rem;
      width: 2.68rem;
      height: .5rem;
      font-size: .36rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .content .content-top .top-fang, .content .content-xia .top-fang {
      margin: 0 auto;
      position: relative;
      width: 100%;
      height: 0rem;
      border-bottom: 0.01rem solid #D7D7D7; }
      .content .content-top .top-fang .kuai, .content .content-xia .top-fang .kuai {
        background: white;
        position: absolute;
        display: flex;
        justify-content: center;
        top: -0.1rem;
        width: 1.25rem;
        height: .4rem;
        margin-left: 3rem; }
        .content .content-top .top-fang .kuai .span, .content .content-xia .top-fang .kuai .span {
          margin-left: .1rem;
          display: inline-block;
          width: .15rem;
          height: .15rem;
          transform: rotate(45deg);
          border: .03rem solid #39C893; }
    .content .content-top .top-input, .content .content-xia .top-input {
      margin: 0 auto;
      margin-top: 0.46rem;
      width: 5.84rem;
      height: 3.9rem; }
      .content .content-top .top-input .text, .content .content-xia .top-input .text {
        position: relative;
        margin-top: .3rem;
        width: 5.84rem;
        height: 0.73rem; }
        .content .content-top .top-input .text select, .content .content-xia .top-input .text select {
          text-indent: 1em; }
        .content .content-top .top-input .text .xiala, .content .content-xia .top-input .text .xiala {
          font-size: .2rem;
          width: 100%;
          height: 100%; }
        .content .content-top .top-input .text .xiala1, .content .content-xia .top-input .text .xiala1 {
          font-size: .2rem;
          width: 2.84rem;
          height: 0.73rem; }
        .content .content-top .top-input .text .xiala2, .content .content-xia .top-input .text .xiala2 {
          font-size: .2rem;
          width: 1.9rem;
          height: 0.73rem; }
        .content .content-top .top-input .text .xialaj, .content .content-xia .top-input .text .xialaj {
          margin-left: 0.135rem; }
        .content .content-top .top-input .text .xialaj1, .content .content-xia .top-input .text .xialaj1 {
          margin: 0 .045rem; }
        .content .content-top .top-input .text span, .content .content-xia .top-input .text span {
          position: absolute;
          right: 0.02rem;
          top: .25rem;
          width: 0;
          height: 0;
          display: inline-block;
          border: .15rem solid grey;
          border-color: grey white white white; }
        .content .content-top .top-input .text .span1, .content .content-xia .top-input .text .span1 {
          left: 2.5rem; }
        .content .content-top .top-input .text .span2, .content .content-xia .top-input .text .span2 {
          left: 1.58rem; }
        .content .content-top .top-input .text .span3, .content .content-xia .top-input .text .span3 {
          left: 3.52rem; }
      .content .content-top .top-input .text1, .content .content-xia .top-input .text1 {
        margin: 0; }
      .content .content-top .top-input button, .content .content-xia .top-input button {
        margin-top: 0.3rem;
        width: 5.9rem;
        height: 0.7rem;
        background: #feb605;
        color: white;
        font-size: .28rem; }
  .content .content-zhong {
    margin: 0 auto;
    width: 6.78rem;
    border: 0.01rem dotted #39C893;
    margin-top: 0.6rem;
    padding: 0 .2rem; }
    .content .content-zhong .zhong-wen {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 auto;
      width: 5.86rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .content .content-zhong .wen1 {
      width: 1.95rem;
      margin-top: -0.3rem;
      font-size: .35rem;
      background: white; }
    .content .content-zhong .wen2 {
      margin-top: .2rem;
      font-size: .23rem;
      text-indent: 2em; }
      .content .content-zhong .wen2 span {
        color: #39C893; }
  .content .content-xia {
    margin: 0 auto;
    width: 100%;
    height: 9.8rem; }
    .content .content-xia .xia-tuwen {
      margin: 0 auto;
      margin-top: 0.48rem;
      width: 7.14rem;
      height: 2.7rem;
      display: flex;
      justify-content: space-between; }
      .content .content-xia .xia-tuwen figure {
        border: 0.01rem solid #39C893;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 2.1rem;
        height: 2.7rem; }
        .content .content-xia .xia-tuwen figure img {
          width: 1.02rem;
          height: 1.02rem; }
        .content .content-xia .xia-tuwen figure figcaption {
          margin-top: 0.2rem;
          width: 1.15rem;
          height: 0.7rem;
          overflow: hidden;
          text-align: center;
          white-space: nowrap;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column; }
          .content .content-xia .xia-tuwen figure figcaption .span1, .content .content-xia .xia-tuwen figure figcaption .span2 {
            font-size: 0.26rem; }
          .content .content-xia .xia-tuwen figure figcaption .span2 {
            color: #666666; }
    .content .content-xia .xia-tuwen2 {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      width: 7.14rem;
      height: 4.28rem; }
      .content .content-xia .xia-tuwen2 div {
        width: 49.9%;
        height: 49.9%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .content .content-xia .xia-tuwen2 div img {
          width: 1rem;
          height: 1rem; }
        .content .content-xia .xia-tuwen2 div span {
          text-align: center;
          font-size: 0.27rem;
          width: 3.3rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
      .content .content-xia .xia-tuwen2 .div {
        border-right: 0.01rem solid #666666;
        border-bottom: 0.01rem solid #666666; }
      .content .content-xia .xia-tuwen2 .div4 {
        border-left: 0.01rem solid #666666;
        border-top: 0.01rem solid #666666; }

/*# sourceMappingURL=ym14.css.map */
