.sy-head {
  border-bottom: 0.01rem solid #ECECEC;
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .sy-head .sy-head-a {
    width: 2.16rem;
    height: 0.7rem;
    margin-left: 0.18rem;
    clear: both; }
    .sy-head .sy-head-a .a-img {
      width: 100%;
      height: 100%;
      float: left; }
  .sy-head .sy-wenzi {
    width: 20%;
    text-align: center;
    font-size: 0.33rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .sy-head .sy-head-p {
    width: 1.24rem;
    height: 0.7rem;
    margin-right: 0.14rem;
    display: flex;
    justify-content: space-between; }
    .sy-head .sy-head-p .p-a {
      width: 0.45rem;
      height: 0.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      justify-content: space-around; }
      .sy-head .sy-head-p .p-a .span1 {
        width: 0.4rem;
        height: 0.42rem;
        font-size: 0.26rem; }
      .sy-head .sy-head-p .p-a .span2 {
        width: 0.45rem;
        height: 0.3rem;
        overflow: hidden;
        font-size: 0.2rem; }
    .sy-head .sy-head-p .p-a1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 0.45rem;
      height: 0.7rem; }
      .sy-head .sy-head-p .p-a1 .span1 {
        width: 0.4rem;
        height: 0.42rem;
        font-size: 0.26rem; }
      .sy-head .sy-head-p .p-a1 .span2 {
        width: 0.45rem;
        height: 0.3rem;
        overflow: hidden;
        font-size: 0.2rem; }

.content {
  width: 100%; }
  .content .content-img {
    width: 100%;
    height: 4.2rem; }
  .content .lieb {
    display: flex;
    width: 100%;
    height: 2.87rem; }
    .content .lieb div {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .content .lieb div img {
        width: 1.15rem;
        height: 1.15rem; }
      .content .lieb div span {
        display: inline-block;
        height: 0.7rem;
        font-size: 0.27rem;
        width: 3.23rem;
        overflow: hidden;
        white-space: wrap;
        text-overflow: ellipsis;
        margin-top: 0.32rem; }
      .content .lieb div .tu-wen {
        text-align: center; }
  .content .div1 {
    width: 100%;
    height: 3.87rem;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .content .div1 img {
      width: 2.68rem;
      height: 2.66rem; }
    .content .div1 span {
      display: inline-block;
      height: 0.35rem;
      font-size: 0.27rem;
      width: 3.6rem;
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
      margin-top: 0.32rem; }

.wwen {
  border-bottom: 0.2rem solid #f4f4f4;
  width: 7.5rem;
  height: 2.45rem;
  display: flex;
  align-items: center; }
  .wwen .wen {
    line-height: 0.43rem;
    margin: 0 auto;
    text-indent: 2em;
    margin: 0 auto;
    display: flex;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    width: 6.9rem;
    height: 1.75rem;
    font-size: 0.25rem;
    color: #333; }

footer {
  width: 100%;
  height: 1.96rem; }
  footer .wen {
    margin-top: 0.38rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 0.9rem; }
    footer .wen .span1 {
      color: #39C893;
      font-size: 0.38rem; }
    footer .wen span {
      font-size: 0.28rem;
      color: #333333; }
    footer .wen .wenzi {
      display: flex;
      width: 100%;
      height: 0.3rem; }
      footer .wen .wenzi p {
        width: 25%;
        font-size: 0.3rem;
        text-align: center; }
  footer .lc-footer {
    width: 7.5rem;
    height: 1.45rem;
    font-size: 0; }
    footer .lc-footer .lc-ter-a {
      width: 7.18rem;
      height: .96rem;
      border-top: 1px #999 solid;
      margin-left: 0.16rem;
      margin-top: .1rem; }
      footer .lc-footer .lc-ter-a .lc-ter-p {
        width: 5rem;
        height: 0.3rem;
        font-size: 0.25rem;
        color: #999999;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 1.4rem;
        margin-top: 0.3rem; }
    footer .lc-footer .ter-c {
      width: 100%;
      height: 0.4rem;
      background: #282828; }
      footer .lc-footer .ter-c img {
        width: 100%;
        height: 0.4rem; }

/*# sourceMappingURL=ym16.css.map */
